* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

/* BARRE DE NAVIGATION */

header {
  display: block;
}

.navbar {
  position: fixed;
  width: 100vw;
  opacity: 0.75;
}

h1 {
  color: white;
  margin-left: 1em;
  text-align: center;
  text-shadow: 2px 0px 3px lightgrey;
  font-weight: bold;
}

h1 ul li {
  color: white;
  list-style-type: none;
  display: flex;
  text-align: center;
  margin: 20px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  margin-right: 0.8em;
}

/* IMAGE PRINCIPALE */

body #image_main {
  background: url(assets/Chouquette-mobile.jpg) no-repeat fixed 0% 0%;
  background-position: top 0%;
  /* display: flex;
  align-items: center; */
  background-size: 100%;
  height: 65vh;
  padding-top: 0px;
}

.presentation h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.presentation p {
  text-align: center;
  padding: 1.5em 1.5em;
}

/* FOOTER */

.contact {
  text-align: center;
  list-style-type: none;
}

.contact p {
  text-decoration: underline;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.map {
  display: flex;
  text-align: center;
  margin-top: 2em;
  margin: 1em 1em;
}

hr {
  width: 50% 50%;
}

.Footer_socialMedia {
  text-align: center;
  padding: 1px;
}

footer {
  background-color: #515142;
  width: 100%;
  height: 10vh;
}

.Footer_socialMedia a img {
  text-align: center;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  margin-bottom: Oem;
}

.copyright {
  text-align: end;
  font-size: 0.5em;
  font-weight: 100;
  color: whitesmoke;
  margin-right: 2em;
  margin-top: 0.2em;
}
