* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
}

/* BARRE DE NAVIGATION */

header {
  display: block;
}

.navbar {
  position: fixed;
  width: 100vw;
  opacity: 0.75;
}

h1 {
  color: white;
  margin-left: 1em;
  text-align: center;
  text-shadow: 2px 0px 3px lightgrey;
  font-weight: bold;
}

h1 ul li {
  color: white;
  list-style-type: none;
  display: flex;
  text-align: center;
  margin: 20px;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 0.8em;
  margin-right: 0.8em;
}

/* IMAGE PRINCIPALE */

body #image_main {
  background: url(assets/Chouquette-mobile.jpg) no-repeat fixed 0% 0%;
  background-position: top 0%;
  background-size: 100%;
  height: 65vh;
  padding-top: 0px;
}

.presentation h2 {
  margin-top: 1.5em;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  display: flex;
  justify-content: center;
}

.presentation p {
  text-align: center;
  padding: 1em;
  padding-bottom: 0;
}

/* FOOTER */

.contact {
  text-align: center;
  list-style-type: none;
}

.contact p {
  text-decoration: underline;
}

.contact a {
  text-decoration: none;
  color: black;
  font-size: 0.8em;
}

.map {
  display: flex;
  justify-content: center;
  margin: 1.5em 1.5em;
}

hr {
  width: 50% 50%;
}

.Footer_socialMedia {
  text-align: center;
  padding-top: 0.5em;
}

footer {
  background-color: #515142;
  width: 100%;
  height: 10vh;
}

.Footer_socialMedia a img {
  text-align: center;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  margin-bottom: Oem;
}

.copyright {
  text-align: end;
  font-size: 0.5em;
  font-weight: 100;
  color: whitesmoke;
  margin-right: 2em;
  margin-top: 0.2em;
}

/* Mode tablette */

@media screen and (min-width: 810px) {
  .navbar {
    align-items: self-end;
    padding-right: 1.5em;
  }

  h1 ul li {
    color: white;
    list-style-type: none;
    display: flex;
    text-align: center;
    margin: 20px;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    margin-right: 0.8em;
  }

  ul {
    display: flex;
  }

  body #image_main {
    background: url(assets/Chouquette-medium.jpg) no-repeat fixed 0% 0%;
    background-position: top 0%;
    display: flex;
    align-items: center;
    background-size: 100%;
    height: 70vh;
    padding-top: 0px;
  }

  .map {
    display: flex;
    justify-content: center;
    margin: 2em 2em;
  }
  footer {
    background-color: #515142;
    width: 100%;
    height: 8vh;
  }

  .copyright {
    font-size: 0.8em;
  }
}

/* Mode ecran pc  */

@media screen and (min-width: 1080px) {
  h1 ul li {
    color: white;
    list-style-type: none;
    display: flex;
    text-align: center;
    margin: 20px;
  }

  li a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    margin-right: 0.8em;
  }

  body #image_main {
    background: url(assets/Chouquette-desktop.jpg) no-repeat fixed 0% 0%;
    background-position: top 0%;
    display: flex;
    align-items: center;
    background-size: 100%;
    height: 100vh;
    padding-top: 0px;
  }

  .map {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin: 1em 1em;
  }

  footer {
    background-color: #515142;
    width: 100%;
    height: 14vh;
  }

  .copyright {
    font-size: 0.8em;
  }
}
